@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit/Kanit-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }
body {
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Kanit', sans-serif;
}
main {
    background: #FEFEFE;
    display: flex;
}
.container {
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding: 30px;
}

.container .rightSide {
    background: #FFF;
    border-radius: 45px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    width: 60%;
    position: relative;
    z-index: 2;
    left: -36px;
    padding: 55px;
}
.container .rightSide p {
    color: #ABABAB;
    text-align: right;
    margin-right: 25px;
    margin-top: 20px;
}
.container .rightSide img {
    max-width: 100%;
    float: right;
    margin-top: -33px;
    margin-right: 6px;
}
.container .rightSide.formElement {
    margin-top: 20px;
}
.container .rightSide .formElement h2 {
    font-size: 26px;
    text-align: center;
}
.container .rightSide .formElement p {
    font-size: 20px;
    color: #ABABAB;
    text-align: left;
    margin-left: 40px;
    font-weight: 300;
    margin-top: 2px;
}
.container .rightSide .formElement form {
    width: 50%;
    margin-top: 33px;
    margin-left: 40px;
}
.container .rightSide .formElement form label {
    color: #ABABAB;
}
.container .rightSide .formElement form input[type="text"],
.container .rightSide .formElement form input[type="email"],
.container .rightSide .formElement form input[type="password"],
.container .rightSide .formElement form input[type="checkbox"] {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #D9D9D9;
    margin-bottom: 10px;
}
.container .rightSide .formElement form #agree {
    width: 15px;
    height: 15px;
    margin-top: 15px;
    margin-right: 6px;
    border-radius: 8px;
    border: 3px solid #D9D9D9;
}
.container .rightSide .formElement form button {
    width: 100px;
    height: 40px;
    border-radius: 25px;
    background: #5DC6C9;
    color: #FFF;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}